<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <% include ../partials/messages.ejs %>

    <main class="container">
      <div style="display: flex; align-items:center;">
        <h1><%= wiki.title %></h1>
      </div>
      <small class="text-muted" >Author: <%= wiki.User.email %></small>


      <% if(currentUser ) { %>
      <a href="/wiki/<%= wiki.id %>/edit" class="btn btn-warning">Edit</a>
      <form style="display:initial" action="/wiki/<%= wiki.id %>/delete" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      <% } %>

      <%- wiki.body %>

      <p>Mode: <%= wiki.private?"Private":"Public" %> </p>

      <section id="collaborator-list">
       <% if(wiki.collaborators) { %>
         <h2> Collaborators <h2>
         <ul class="list-group">
         <% wiki.collaborators.forEach((collaborator) => { %>
           <li class="list-group-item">
             <a href="/user/<%= collaborator.User.id %>"> <%= collaborator.User.email %> </a>
           </li>
         <% }) %>
         </ul>
       <% } %>
      </section>

    </main>

    <% include ../partials/baseScript.ejs %>

  </body>
</html>
