<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <script>
    function customConfirmDelete() {
        var confirmText = "Are you sure you want to delete?";
        if (confirm(confirmText)) {
            var submit = document.getElementById("postForm");
            submit.submit();
        } else {

        }
    }
    </script>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <% include ../partials/messages.ejs %>

    <main class="container">
      <div style="display: flex; align-items:center;">
        <h1><%= wiki.title %></h1>
      </div>
      <div>
        <a href="/users/<%= wiki.User.id %>">
        <small class="text-muted" >Author: <%= wiki.User.email %></small>
        </a>
      </div>


      <% if(currentUser ) { %>
      <a href="/wiki/<%= wiki.id %>/edit" class="btn btn-warning">Edit</a>
      <form id="postForm" style="display:initial" action="/wiki/<%= wiki.id %>/delete" method="post">
      </form>
      <button  class="btn btn-danger" onclick="customConfirmDelete()">Delete</button>

      <% } %>

      <%- wiki.body %>

      <p>Mode: <%= wiki.private?"Private":"Public" %> </p>

      <section id="collaborator-list">
       <% if(wiki.collaborators) { %>
         <h2> Collaborators <h2>
         <ul class="list-group">
         <% wiki.collaborators.forEach((collaborator) => { %>
           <li class="list-group-item">
             <a href="/users/<%= collaborator.User.id %>"> <%= collaborator.User.email %> </a>
           </li>
         <% }) %>
         </ul>
       <% } %>
      </section>

    </main>

    <% include ../partials/baseScript.ejs %>

  </body>
</html>
