<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <script>
    function customConfirmDelete() {
        var confirmText = "Are you sure you want to downgrade? There are no refunds with this process. Additionally, all private wikis you own will be set to public.";
        if (confirm(confirmText)) {
            var submit = document.getElementById("postForm");
            submit.submit();
        } else {

        }
    }
    </script>
  </head>
  <body>


    <% include ../partials/nav.ejs %>
    <% include ../partials/messages.ejs %>

    <main class="container">


 <!-- #1 -->
      <h1><%= `${result.user.name}'s profile` %></h1>

      <hr>

      <p> <%= `Email: ${result.user.email}` %></p>
      <div>
        <% if(result.user.role === 0){ %>
          <p> Access: Standard </p>
          <% if(typeof(currentUser) != "undefined" && result.user.id == currentUser.id){ %>
          <a href="/user/<%=result.user.id%>/upgrade">
            <span class="btn btn-primary">Upgrade</span>
          </a>
          <% } %>
        <% } else if(result.user.role === 1){ %>
          <p> Access: Premium </p>
          <% if(typeof(currentUser) != "undefined" && result.user.id == currentUser.id){ %>
          <form id="postForm" action="/user/<%=result.user.id%>/downgrade" method="post">
          </form>
          <button  class="btn btn-danger" onclick="customConfirmDelete()">Downgrade</button>

          <% } %>
        <% } else { %>
          <p> Access: Admin </p>
        <% } %>
      </div>

      <hr>

      <h2> Authored Wikis</h2>
      <ul class="list-unstyled">
        <% if(result.wikis) { %>
          <% result.wikis.forEach((wiki) => { %>
      <!-- #3 -->
            <li>
              <a href="/wiki/<%= wiki.id %>">
                <%= wiki.title %>
              </a>
            </li>
          <% }) %>
        <% } %>
      </ul>
      <hr>


    </main>



    <% include ../partials/baseScript.ejs %>

  </body>
</html>
